@import url('https://db.onlinewebfonts.com/c/6182518f7bc0b240b3a35699686e85d5?family=Mortend');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins:wght@500&display=swap');

.images {
    width: 52.562vw;
    height: 23.805vw;
    position: absolute;
    right: 5vh;
    display: flex;
    flex-direction: row;
    bottom: 0;
    justify-content: flex-end;
}

.image1 {
    margin-right: 3.5vw;
    margin-top: 3vw;
    width: 537px;
    height: 289px;
    bottom: 0;
}

.homePara {
    margin-top: 3vh;
    display: flex;
    width: 55.165vw;
    height: 6.515vw;
    flex-direction: column;
    flex-shrink: 0;
    color: #FFF;
    font-size: 1.647vw;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Poppins', sans-serif;
    line-height: 142%;
}

.plans {
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 6vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 5vw;
}

.card {
    display: flex;
    justify-content: center;
    width: 306px;
    height: 400px;
    margin-right: 5vw;
    border-radius: 30px;
    background: radial-gradient(131.11% 226.56% at 50.00% 50.00%, rgba(255, 169, 253, 0.30) 0%, rgba(252, 103, 250, 0.00) 100%);
    backdrop-filter: blur(25px);
}

.planHeading {
    color: #FFF;
    font-size: 36px;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-family: 'Poppins', sans-serif;
    margin-top: 2vw;
    font-weight: 700;
}

.benefits {
    display: flex;
    align-self: center;

}